<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "store/main.html" %} {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="main">
      <div class="store-search">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search your item" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div class="cart-total-item d-flex justify-content-end" style="padding-right: 190px">
        <h2>Total: <span class="total-item">{{order.get_cart_items}}</span> </h2>
      </div>
      <div class="cart-page theme-default-margin">
        <div class="container">
          <form action="/cart" method="post" novalidate="" class="cart">
            <div class="row">
              <div class="col-lg-12 col-12">
                <div class="cart-table table-responsive mb-40">
                  <table>
                    <thead>
                      <tr>
                        <th class="pro-thumbnail">Image</th>
                        <th class="pro-title">Product</th>
                        <th class="pro-price">Price</th>
                        <th class="pro-quantity">Quantity</th>
                        <th class="pro-subtotal">Total</th>
                        <th class="pro-remove">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                      <tr>
                        <td class="pro-thumbnail">
                          <a
                          
                            href="/products/5-simple-product?variant=24297188098112"
                            ><img
                            width="100%"
                              src="{{item.product.image.url}}"
                              alt="hinh anh san pham"
                          /></a>
                        </td>
                        <td class="pro-title">
                          <a
                            href="/products/5-simple-product?variant=24297188098112"
                            >{{item.product.name}}</a
                          >
                        </td>
                        <td class="pro-price">
                          <span class="amount"
                            ><span class="money" data-currency-usd="$50.00"
                              >{{item.product.price|floatformat:0}} VNĐ</span
                            ></span
                          >
                        </td>
                        <td class="pro-quantity">
                          <div class="product-quantity">
                            <input
                              type="text"
                              value="{{item.quantity}}"
                              name="updates[]"
                            /><span class="dec qtybtn update-cart" data-product="{{item.product.id}}" data-action="remove"> (-) </span
                            ><span class="inc qtybtn update-cart" data-product="{{item.product.id}}" data-action="add"> (+) </span>
                          </div>
                        </td>
                        <td class="pro-subtotal">
                          <span class="money" data-currency-usd="$100.00"
                            >{{item.get_total|floatformat:0}} VNĐ</span
                          >
                        </td>
                        <td class="pro-remove">
                          <a href="/cart/change?line=1&amp;quantity=0">×</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-12">
                <div class="cart-buttons">
                  <input
                    class="theme-default-button"
                    name="update"
                    type="submit"
                    value="Update Cart"
                  />
                  <a
                    class="theme-default-button"
                    href="javascript:history.back()"
                    >Continue Shopping</a
                  >
                  <a class="theme-default-button" href="/cart/clear"
                    >Clear Cart</a
                  >
                </div>
              </div>
              <div class="col-lg-12 col-12">
                <div class="cart-payment">
                  <div class="row">
                    <div class="col-lg-6"><div class="row"></div></div>
                    <div class="col-lg-6">
                      <div class="cart-total">
                        <h3>Cart Totals</h3>
                        <table>
                          <tbody>
                            <tr class="cart-subtotal">
                              <th>Subtotal</th>
                              <td>
                                <span class="amount"
                                  ><span id="bk-cart-subtotal-price"
                                    ><span
                                      class="money"
                                      data-currency-usd="$320.00"
                                      >{{order.get_cart_total|floatformat:0}} VNĐ</span
                                    ></span
                                  ></span
                                >
                              </td>
                            </tr>
                            <tr class="order-total">
                              <th>Total</th>
                              <td>
                                <strong
                                  ><span class="amount"
                                    ><span id="bk-cart-subtotal-price"
                                      ><span
                                        class="money"
                                        data-currency-usd="$320.00"
                                        >{{order.get_cart_total|floatformat:0}} VNĐ</span
                                      ></span
                                    ></span
                                  ></strong
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="proceed-to-checkout">
                          <button
                            type="submit"
                            class="theme-default-button"
                            name="checkout"
                          >
                            <a href="/checkout">Proceed to Checkout</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
